@import url("https://use.typekit.net/avn7pgt.css");
@import "reset.css";

body{
    font-family: myriad-pro, sans-serif;
}
.windowBlack{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 3;
  position: fixed;
  display: none;
}
.header{
  width: 100%;
  height: 70px;
  /* background-color: whitesmoke; */
  border-bottom: 1px solid rgb(182, 182, 182);
  
  position: fixed;
  z-index: 2;
}
.SA_HOME{
  width:50px;
  height: 50px;
  background-color: rgb(36, 36, 36);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: inline-block;
}
.SA{
  font-weight: 700;
  font-style: normal;
  color:rgb(255, 255, 255);
  font-size: 1.48em;
  letter-spacing: 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  height: 40%;
  position: relative;
  top:42%;
  left:48%;
  transform: translate(-50%,-50%);
} 
/* menu */
.menu{
  width: 50px;
  position: fixed;
  left:0%;
  margin: 8px 0 0 10px;
  cursor: pointer;
}
.menu_sidebar{
  width:300px;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  top:0;
  left:-300px;
  border-right: 1px solid rgba(34, 34, 34, 0.251);
  transition: 0.7s ease-in-out;
  z-index: 4;
}

.menu_sidebar a{
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-size: 2em;
  font-weight: bold;
  position: relative;
  top:40px;
  left:40px;
}
.menu_sidebar div:nth-child(2){
  margin-top: 40px;
}
.menu_sidebar div:nth-child(3){
  margin-top: 40px;
}
.menu_closeBtn1{
  transform: rotate(90deg);
  width: 40px;
  position: absolute;
  top:1%;
  right:5%;
  cursor: pointer;
}
/* chat */
.chat{
  width: 50px;
  position: fixed;
  right: 0%;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.friend_sidebar{
  width:300px;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  top:0;
  right:-300px;
  border-right: 1px solid rgba(34, 34, 34, 0.251);
  transition: 0.7s ease-in-out;
  z-index: 4;
}
.friend_barTop{
  width:100%;
  height: 120px;
  background-color: whitesmoke;
  border-bottom: 0.1px solid rgba(119, 119, 119, 0.1);
  position: relative;
}
.menu_closeBtn2{
  transform: rotate(270deg);
  width: 40px;
  position: relative;
  top:10%;
  left: 6%;
  cursor: pointer;
}
.friend_sidebar div:nth-child(2){
  font-weight: bold;
  font-size: 1.7em;
  position: relative;
  top:20%;
  left:6%;
  color: rgb(87, 87, 87);
}

#map{
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: gray;
  margin-top: 70px;
}




/* 마커 */
.wrap {
  position: absolute;
  top:-300px;
  left: -219px;
  width: 500px;
  height: 230px;
  text-align: left;
  background-color: rgb(179, 179, 179);
  font-size: 12px;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  line-height: 1.5;
  border-radius: 55px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.4);
}

.wrap img {
  position: absolute;
  width: 100%;
  height: 230px;
  left: -100px;
  border-radius: 50px;
  object-fit: cover;
}

.info {
  width: 280px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 45%;
}

.info .close {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.info .close:hover {
  cursor: pointer;
}
.place_name{
  font-size: 1.5em;
  position: relative;
  font-weight: 700;
  top:15px;
  left:18px;
}
.place_eval {
  display: flex;
  flex-direction: row;
  position: relative;
  top:20px;
  left:20px;
}
.place_eval li {
  position: relative;
  list-style: none;
  margin-right: 3px;
}
.place_eval li img {
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px;
}
.place_address1{
  position: relative;
  top:30px;
  left: 20px;
  font-weight:500;
}
.place_address2{
  position: relative;
  top:40px;
  left: 20px;
  font-weight:500;
}
.infoArrow {
  content: '';
  position: absolute;
  top: -70px;
  left: -5px;
  width: 40px;
  height: 42px;
  background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/infoWindow/pannel_tooltip_arr.png) no-repeat 0 0;
}
.place_link{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  
}
.place_link li{
  width:50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  top:60px;
  left:10px;
  box-shadow: inset 10px 10px 10px 10px rgba(50, 50, 70, 0.1);
}
.place_link a{
  text-decoration: none;
  color: black;
}
.place_link li:nth-child(1){
  background-image: url(../img/placeinfo.png);
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
}
.place_link li:nth-child(1)::after{
  content: "위치 복사";
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  top:55px;
}
.place_link li:nth-child(2){
  background-image: url(../img/bbs.png);
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
}
.place_link li:nth-child(2)::after{
  content: "게시판";
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  top:55px;
  left: 8px;
}
.place_link li:nth-child(3){
  background-image: url(../img/faq.png);
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
}
.place_link li:nth-child(3)::after{
  content: "건의함";
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  top:55px;
  left: 8px;
}