@import url("https://use.typekit.net/avn7pgt.css");
@import "reset.css";

body{
    font-family: myriad-pro, sans-serif;
    height: 100%;
}
/* 지도 정보 오버레이 */
#map{
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: gray;
  margin-top: 70px;
}

.wrap {
  position: absolute;
  top:-300px;
  left: -219px;
  width: 500px;
  height: 230px;
  text-align: left;
  background-color: rgb(179, 179, 179);
  font-size: 12px;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  line-height: 1.5;
  border-radius: 55px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.4);
}
.wrap img {
  position: absolute;
  width: 100%;
  height: 230px;
  left: -100px;
  border-radius: 50px;
  object-fit: cover;
}

.info {
  width: 280px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 45%;
}

button{
  position: absolute;
  bottom: 263px;
  left: 242px;
  color: #888;
  width: 20px;
  height: 20px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.info .close:hover {
  cursor: pointer;
}
.place_name{
  font-size: 1.5em;
  position: relative;
  font-weight: 700;
  top:15px;
  left:18px;
}
.place_eval {
  display: flex;
  flex-direction: row;
  position: relative;
  top:20px;
  left:20px;
}
.place_eval li {
  position: relative;
  list-style: none;
  margin-right: 3px;
}
.place_eval li img {
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px;
}
.place_address1{
  position: relative;
  top:30px;
  left: 20px;
  font-weight:500;
}
.place_address2{
  position: relative;
  top:40px;
  left: 20px;
  font-weight:500;
}
.place_address3{
  position: relative;
  top:50px;
  left: 20px;
  font-weight:500;
}
.infoArrow {
  content: '';
  position: absolute;
  top: -70px;
  left: -5px;
  width: 40px;
  height: 42px;
  background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/infoWindow/pannel_tooltip_arr.png) no-repeat 0 0;
}
.place_link{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  
}
.place_link li{
  width:50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  top:60px;
  left:10px;
  box-shadow: inset 10px 10px 10px 10px rgba(50, 50, 70, 0.1);
}
.place_link a{
  text-decoration: none;
  color: black;
}
.place_link a:nth-child(1) li{
  background-image: url(../img/placeinfo.png);
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
}
.place_link a:nth-child(1)::after{
  content: "위치 복사";
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  top:65px;
  left: 12px;
}
.place_link a:nth-child(2) li{
  background-image: url(../img/bbs.png);
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
}
.place_link a:nth-child(2)::after{
  content: "게시판";
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  top:65px;
  left: 19px;
}
.place_link a:nth-child(3) li{
  background-image: url(../img/faq.png);
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
}
.place_link a:nth-child(3)::after{
  content: "건의함";
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  top:65px;
  left: 19px;
}

