@import url("https://use.typekit.net/avn7pgt.css");
@import "reset.css";

body{
    font-family: myriad-pro, sans-serif;
}
.windowBlack{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 3;
  position: fixed;
  display: none;
}
.header{
  width: 100%;
  height: 70px;
  /* background-color: whitesmoke; */
  border-bottom: 1px solid rgb(182, 182, 182);
  background-color: white;
  position: fixed;
  z-index: 2;
}
.SA_HOME{
  width:50px;
  height: 50px;
  background-color: rgb(36, 36, 36);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: inline-block;
}
.SA{
  font-weight: 700;
  font-style: normal;
  color:rgb(255, 255, 255);
  font-size: 1.48em;
  letter-spacing: 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  height: 40%;
  position: relative;
  top:42%;
  left:48%;
  transform: translate(-50%,-50%);
}
/* menu */
.menu{
  width: 50px;
  position: fixed;
  left:0%;
  margin: 8px 0 0 10px;
  cursor: pointer;
}
.menu_sidebar{
  width:300px;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  top:0;
  left:-300px;
  border-right: 1px solid rgba(34, 34, 34, 0.251);
  transition: 0.7s ease-in-out;
  z-index: 4;
}

.menu_sidebar a{
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-size: 2em;
  font-weight: bold;
  position: relative;
  top:40px;
  left:40px;
}
.menu_sidebar div:nth-child(2){
  margin-top: 40px;
}
.menu_sidebar div:nth-child(3){
  margin-top: 40px;
}
.menu_closeBtn1{
  transform: rotate(90deg);
  width: 40px;
  position: absolute;
  top:1%;
  right:5%;
  cursor: pointer;
}
/* chat */
.chat{
  width: 50px;
  position: fixed;
  right: 0%;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.friend_sidebar{
  width:300px;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  top:0;
  right:-300px;
  border-right: 1px solid rgba(34, 34, 34, 0.251);
  transition: 0.7s ease-in-out;
  z-index: 4;
}
.friend_barTop{
  width:100%;
  height: 120px;
  background-color: whitesmoke;
  border-bottom: 0.1px solid rgba(119, 119, 119, 0.1);
  position: relative;
}
.menu_closeBtn2{
  transform: rotate(270deg);
  width: 40px;
  position: relative;
  top:10%;
  left: 6%;
  cursor: pointer;
}
.friend_sidebar div:nth-child(2){
  font-weight: bold;
  font-size: 1.7em;
  position: relative;
  top:20%;
  left:6%;
  color: rgb(87, 87, 87);
}

/* 프로필 수정 */
.profile_image{
  position: absolute;
  top:90px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid black;
  width: 100px;
}
.nicknameEdit{
  position: absolute;
  top:220px;
  left:50%;
  transform: translateX(-50%);
  width: 300px;
  height: 25px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 270px center;
  background-size: 1.3em;
}
.id_pw_email_Form{
  width: 400px;
  height: 600px;
  border: 2px solid black;
  border-radius: 100px;
  position: absolute;
  top:280px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 500px;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.id_pw_email_Form::after{
  content: "";
  width: 1px;
  height: 200px;
  position: absolute;
  top:700px;
}
/* .idEdit{
  position: absolute;
  top:100px;
  left:50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}
.idEdit_label{
  position: absolute;
  top:80px;
  left:17%;
  color: gray;
}
.idEdit::before{
  content: "ID";
  position: absolute;
  top:20px;
} */
.emailEdit{
  position: absolute;
  top:100px;
  left:50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  /* background-image: url(../img/pen.png); */
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}
.emailEdit:read-only{
  background-color: grey;
  color: white;
}
.emailEdit_label{
  position: absolute;
  top:80px;
  left:17%;
  color: gray;
}
.pwEdit{
  position: absolute;
  top:200px;
  left:50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}
p{
  color: red;
  position: relative;
  margin: 15px;
  font-size: 0.7em;
  top:260px;
  left: 50%;
  transform: translateX(-40%);
}
.pwEdit_label{
  position: absolute;
  top:180px;
  left:17%;
  color: gray;
}
.pw_Reinput{
  position: absolute;
  top:350px;
  left:50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}
.editBtn{
  position: absolute;
  top:780px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: black;
  border: 1px solid rgba(30, 30, 30, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}