@import url("https://use.typekit.net/avn7pgt.css");
@import "reset.css";

body {
  font-family: myriad-pro, sans-serif;
}

/* 프로필 수정 */
.windowBlack2 {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.7;
  z-index: 5;
  display: none;
}

.imgClickForm {
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 6;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
}
.imgClickForm label {
  text-align: center;
  font-size: 1.3em;
  padding: 20px 0 25px 0;
  font-weight: bold;
  border-bottom: 1px solid gray;
  color: steelblue;
  cursor: pointer;
}
.imgClickForm input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  /* position: absolute;
  top:-20px; */
}
.imgClickForm .profileImg_delete{
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1.3em;
  padding: 20px 0 20px 0;
  background-color: white;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
.imgClickForm .profileImg_cancel{
  outline: none;
  border: none;
  padding: 10px 0 0 0;
  border-radius: 50px;
  font-size: 1.2em;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
.profile_image {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.nicknameEdit {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 25px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 270px center;
  background-size: 1.3em;
}

.id_pw_email_Form {
  width: 400px;
  height: 600px;
  border: 2px solid black;
  border-radius: 100px;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 500px;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.id_pw_email_Form::after {
  content: "";
  width: 1px;
  height: 200px;
  position: absolute;
  top: 700px;
}

/* .idEdit{
  position: absolute;
  top:100px;
  left:50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}
.idEdit_label{
  position: absolute;
  top:80px;
  left:17%;
  color: gray;
}
.idEdit::before{
  content: "ID";
  position: absolute;
  top:20px;
} */
.emailEdit {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  /* background-image: url(../img/pen.png); */
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}

.emailEdit:read-only {
  background-color: grey;
  color: white;
}

.emailEdit_label {
  position: absolute;
  top: 80px;
  left: 17%;
  color: gray;
}

.pwEdit {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}

.id_pw_email_Form p {
  color: red;
  position: relative;
  margin: 15px;
  font-size: 0.7em;
  top: 260px;
  left: 50%;
  transform: translateX(-40%);
}

.pwEdit_label {
  position: absolute;
  top: 180px;
  left: 17%;
  color: gray;
}

.pw_Reinput {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 25px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9em;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 265px center;
  background-size: 1.3em;
}

.editBtn {
  position: absolute;
  top: 780px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: black;
  border: 1px solid rgba(30, 30, 30, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}